:root {
  --player-height: 80px;
  --sidebar-width: 60px;
  --main-content-header-height: 70px;
}

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #151822;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* UTILS */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000010;
  border: 2px dashed red;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 
.container {
  max-width: 70%;
  margin: 10px 10px;
} */
*/ [class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}
.row {
  display: flex;
}
.col {
  width: 100%;
}
.col-2-3 {
  width: 70%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: calc(100% / 3);
}
.col-1-4 {
  width: 25%;
}
.col-1-5 {
  width: 20%;
}

/* LAYOUT */

#wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#top-content {
  height: calc(100vh - var(--player-height));
  display: flex;
}
#player {
  height: var(--player-height);
  background-color: #282828;
}
/*///// SIDEBAR /////*/

#sidebar {
  width: var(--sidebar-width);
  background-color: black;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: grey;
  overflow: auto;
}

#sidebar .logo-extended {
  display: none;
}
#sidebar .nav {
  display: flex;
  justify-content: center;
}
#sidebar .nav,
.playlists,
.user {
  gap: 1rem;
}

#sidebar .nav .link img {
  width: 30px;
}
#sidebar .nav .link-text {
  display: none;
}

#sidebar .playlists {
  display: none;
}
#sidebar .add-playlist-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#sidebar .add-playlist-button {
  height: 45px;
  width: 45px;
  background-color: #a3a3a3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#sidebar .add-playlist-button .plus {
  font-size: 2.5rem;
  color: black;
}
#sidebar .playlists h5 {
  padding: 8px 0;
}

#sidebar .user {
  margin-top: auto;
}

#sidebar .user .link img {
  width: 30px;
}
#sidebar .user .link-text {
  display: none;
}
#sidebar .separator {
  border: 1px solid grey;
  display: none;
}

/* PLAYER */
#player .player-container {
  display: flex;
  padding: 20px 10px;
}
#player .col-2-3 img {
  width: 25px;
  height: 25px;
}
#player .song {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#player .song-button {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#player .control {
  justify-self: center;
}
#player .control-buttons {
  display: flex;
  justify-content: space-between;
}

#player .separator {
  border: 1px solid grey;
}

/* MAIN */

#main-content {
  width: calc(100% - var(--sidebar-width));
  overflow: hidden;
}
#main-content-header {
  height: var(--main-content-header-height);
  background-color: rgba(0, 0, 0, 0.5);
}

#content {
  height: calc(
    100vh - var(--player-height) - var(--main-content-header-height)
  );
  overflow: auto;
}

/* MEDIA QUERY SMALL */
@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 300px;
  }
  #sidebar .logo-extended {
    display: block;
  }
  #sidebar .logo-contracted {
    display: none;
  }
  #sidebar .nav .link-text {
    display: block;
  }
  #sidebar .nav .link {
    display: flex;
    align-items: center;
  }
  #sidebar .nav {
    display: block;
  }
  #sidebar .playlists {
    display: block;
  }

  #sidebar .user .link-text {
    display: block;
  }
  #sidebar .user .link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  #sidebar .separator {
    display: block;
  }
  #player .col-2-3 img {
    width: 40px;
  }
  #player .song-button {
    display: block;
    margin: auto;
  }
}

/* MEDIA QUERY MEDIUM */
@media screen and (min-width: 768px) {
  :root {
    --sidebar-width: 300px;
  }
}

/* MEDIA QUERY LARGE */
@media screen and (min-width: 992px) {
  :root {
    --sidebar-width: 300px;
  }
}

/* MEDIA QUERY XLARGE */
@media screen and (min-width: 1200px) {
  :root {
    --sidebar-width: 300px;
  }
}
